[MESSAGES CONTROL]
ignore=docs
disable=
    missing-docstring,
    invalid-name,
    unused-argument,
    no-self-use,
    useless-object-inheritance,
    too-many-instance-attributes,
    too-few-public-methods,
    too-many-locals,
    no-member,not-callable,
    too-many-statements,
    too-many-branches,
    too-many-arguments,
    duplicate-code,
    dangerous-default-value,
    import-error,
    fixme,
