---
name: tests

on:
  pull_request:
  push:
  schedule:
    - cron: '0 6 * * *'

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python: ['3.6', '3.7', '3.8', '3.9', '3.10']

    steps:

      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install Tox and any other packages
        run: pip install tox

      - name: Run syntax checker using Tox
        run: tox -e lint

      - name: Run Tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py

      - name: Run type hint checks
        run: tox -e mypy
